.border--button--style {
  font-weight: 700;
  outline: 0;
  border: 2px solid $heading--color;
  color: $heading--color;
  font-size: 1rem;
  border-radius: 5px;
  padding: 8px 30px;
  background-color: $light--shade;
}
.background--button--style {
  font-weight: 500;
  outline: 0;
  border: 1px solid transparent;
  color: $light--shade;
  font-size: 1rem;
  border-radius: 5px;
  width: 150px;
  padding: 15px 10px;
  background-color: $heading--color;
}
.form-button {
  font-weight: 500;
  outline: 0;
  border: 1px solid transparent;
  color: $light--shade;
  font-size: 1rem;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: $heading--color;
  width: 100%;
}
